## -*- coding: utf-8 -*-
<%namespace file="base_helper.tmpl" import="*"/>
<!DOCTYPE html>
<html lang="${lang}">
<head>
    ${html_head()}
    <%block name="extra_head">
    </%block>
</head>
<body>
    %if add_this_buttons:
    <script type="text/javascript">var addthis_config={"ui_language":"${lang}"};</script>
    % endif
<div class="container-fluid" id="container">
    <div class="row-fluid" id="titlerow">
    <div class="span12" id="titlecolumn">
    <!-- Banner-like substance !-->
        <div id="titlelogo">
            <a href="${abs_link('/')}" title="${blog_title}">
                <img src="${abs_link('/assets/img/mike_head.png')}" alt="logo" />
            </a>
        </div>
        <div id="titlebox">
            <h1 id="blog-title">
                <a href="${abs_link('/')}" title="${blog_title}">${blog_title}<br>
                    <small>Michael Hansen</small>
                </a>
            </h1>
            <%block name="belowtitle">
            %if len(translations) > 1:
            <small>
                ${(messages[lang][u"Also available in"])}:&nbsp;
                ${html_translations()}
            </small>
            %endif
            </%block>
        </div>
        <hr style="clear: both;" class="light">
    <!-- End of banner-like substance !-->
    <div class="row-fluid" id="contentrow">
        <div class="span10" id="contentcolumn">
            <!--Body content-->
            <%block name="content"></%block>
            <!--End of body content-->
            <hr class="light">
            <small>${content_footer}</small>
        </div>
        <div class="span2" id="sidebar">
            <!--Sidebar content-->
            <ul class="nav nav-list">
            ${html_sidebar_links()}
            </ul>
            <div style="padding-left: 15px;">
                ${license}
            </div>
            <!--End of sidebar content-->
        </div>
    ${analytics}
    <script type="text/javascript">jQuery("a.image-reference").colorbox({rel:"gal",maxWidth:"80%",maxHeight:"80%",scalePhotos:true});</script>
</body>
